@{
    ViewData["Title"] = "Update";
}
<div class="text-center">
    <h2 class="display-4">Update kitchen</h2>
</div>
<form class="container-fluid" method="post">
    <div class="form-group">
        <div class="row">
            <div class="col-4">Name:</div>
            <div class="col-8"><input type="text" name="name" id="name" value="@ViewBag.Name" /></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-4">Responsible Person:</div>
            <div class="col-8"><input type="text" name="responsiblePersonFullName" id="responsiblePersonFullName" value="@ViewBag.ResponsiblePersonFullName" /></div>
        </div>
    </div>
    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Ingredient
                    </th>
                    <th>
                        Count
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Ingredients)
                {
                    <tr>
                        <td>
                            @item.Item1
                        </td>
                        <td>
                            @item.Item2
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <button type="submit" style="min-width: 100px" class="btn btn-sm btn-light">
                Update
            </button>
        </div>
    </div>
</form>